@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
}

[data-theme="dark"] {
    --sun: block;
    --moon: none;
    --mode-color: #eee;
    --background-color: #121212;
    --text-color: #d7d7d7;
    --link-color: #d7d7d7;
    --heading_1_color: #f2f2f2;
    --cursor-color: #fff;
}

[data-theme="light"] {
    --sun: none;
    --moon: block;
    --heading_1_color: #121112;
    --text-color: #333;
    --link-color: #333;
    --mode-color: #121212;
    --cursor-color: #000;
}

html {
    background-color: var(--background-color);
}

body {
    padding: 0 16px;
    transition: background cubic-bezier(0.49, 0.11, 0.6, 1) 1.5s;
}

.theme_switch {
    cursor: pointer;
}

.sun,
.moon {
    fill: var(--mode-color);
    width: 24px;
    stroke: none;
    cursor: pointer;
}

.sun {
    display: var(--sun);
}

.moon {
    display: var(--moon);
}

#theme {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.container {
    max-width: 990px;
    margin: auto;
}

nav {
    padding: 26px 0;
}

.logo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--heading_1_color);
    font-weight: 500;
}

.dark_light_logo {
    padding: 8px 0;
    border: none;
    background: none;
}

.hero {
    margin: 48px 0;
}

.hero_text_p,
h1 {
    color: var(--heading_1_color);
}

h1 {
    font-size: 2.25rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.hero_text_p {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 180%;
}

.my_link a {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 0;
}

a svg {
    width: 20px;
    height: 20px;
    fill: #ccc;
    flex-shrink: 0;
}

.w-6 {
    stroke: #ccc;
    fill: none;
}

.my_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 1px;
}

.link {
    color: var(--link-color);
    display: flex;
    align-items: center;
}

.footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
}

.footer p {
    color: var(--text-color);
}

.footer a {
    color: var(--link-color);
}

.cursor {
    position: absolute;
    top: -24px;
    left: -24px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--cursor-color);
    transition: all 300ms ease-out, transform 300ms ease-out 500ms;
    pointer-events: none;
}
